.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.me {
  object-fit: cover;
	border-style: solid;
	border-color: blue; 
	border-radius: 100px;
	height: 140px;
	width: 140px;
}

