.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.me {
  object-fit: cover;
	border-style: solid;
	border-color: blue; 
	border-radius: 100px;
	height: 140px;
	width: 140px;
}
.overlay{
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.26);
  height: 200vh;
  width: 100vw;
}
