.projects{
    display: flex;
    justify-content: space-around;
}
.example{
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	border-radius: 20px;
	width: 300px;
	padding: 5px;
	margin: 5px;
}
.example:hover{
	background-color: rgb(255, 255, 255);

}
.exImg{
	border-radius: 20px;
	border: solid rgb(63, 0, 235) 2px;
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}
.uselist{
	border: solid rgb(63, 0, 235) 2px;
	border-radius: 5px;
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(3, auto);
	grid-column-gap: 5px;
	grid-area: auto;
	padding: 5px;
}
.uselist > p {
	margin: 3px;
}
a{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
}
.projContain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}